<div class="ttvcmsmain-slider-wrapper" data-speed="{{ speed }}" data-pause-hover="{{ hover }}">
	<div class='ttvcms-main-slider'>
		<div class='ttv-main-slider'>
			<div id='ttvmain-slider' class="nivoSlider">
				{% set i = 0 %}
				{% for data in imagesliderlist_data %}
				{% if data.btn_caption is empty or data.tvcmsimageslidersub_textaligment == 'ttvmain-slider-contant-none' %}
				{% if record_targeturl %}<a href="{{ data.tvcmsimageslidersub_link }}"> {% endif %}
					{% endif %}
						{% if record_image %}<img class="ttvmain-slider-img" title='#ttvmain-slider-img-{{ i }}' src="{{ data.tvcmsimageslidersub_image }}">{% endif %}

					{% if data.btn_caption is empty or data.tvcmsimageslidersub_textaligment == 'ttvmain-slider-contant-none' %}
						{% if record_targeturl %}</a> {% endif %}
				{% endif %}
				{% set i = i + 1 %}
				{% endfor %}
			</div>
			{% set i = 0 %}
			{% for data in imagesliderlist_data %}
			{% if data.tvcmsimageslidersub_image %}
			{% if record_title or record_descriptionmain %}
			<div id='ttvmain-slider-img-{{ i }}' class="nivo-html-caption caption">
				<div class='ttvmain-slider-contant {{ data.tvcmsimageslidersub_textaligment }}'>
					{% if record_title %}<h2 class="ttvmain-slider-title animated">{{ data.tvcmsimageslidersub_title }}</h2>{% endif %}
					<div class="ttvmain-slider-info animated">
						{% if record_descriptionmain %}
							<h2>{{ data.tvcmsimageslidersub_des_main }}</h2>
						{% endif %}
						{% if record_descriptionsub %}
							<p>{{ data.tvcmsimageslidersub_des_sub }}</p>
						{% endif %}
					</div>
					{% if record_buttoncaption %}
					<div class="ttvmain-slider-btn">
                        <button class="ttvmain-slider-button animated jsbtnlink" data-id="{% if record_targeturl %}{{ data.tvcmsimageslidersub_link }}{% endif %}">{{ data.tvcmsimageslidersub_buttoncaption }}</button>
                    </div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			{% set i = i + 1 %}
			{% endif %}
			{% endfor %}
			<div class="ttvmain-slider-next-pre-btn">
				<div class="ttvcmsmain-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
				<div class="ttvcmsmain-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
/*************** Start Main Slider Js*****************************************/
$(document).ready(function($) {
	$(window).on('load', function() {
		var ttvMainSliderSpeed = $('.ttvcmsmain-slider-wrapper').attr('data-speed');
		var ttvMainSliderPause = '';
		if ($('.ttvcmsmain-slider-wrapper').attr('data-pause-hover') == 'true') {
			ttvMainSliderPause = {{ hover }};
		}
		$('#ttvmain-slider').nivoSlider({
			pauseTime: {{ speed }},
			pauseOnHover: ttvMainSliderPause,
			controlNav: false,
			effect: "random"
		});
	});

	$('.ttvcmsmain-prev').click(function(e) {
		e.preventDefault();
		$('.nivo-directionNav .nivo-prevNav').trigger('click');
		$('.ttvmain-slider-contant').fadeIn();
	});

	$('.ttvcmsmain-next').click(function(e) {
		e.preventDefault();
		$('.nivo-directionNav .nivo-nextNav').trigger('click');

		$('.ttvmain-slider-contant').fadeIn();
	});
});
/*************** End Main Slider Js*****************************************/

/*main slider*/
</script>